<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Chat.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0AB22C3D1CD8467300A9DE3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0AB22C561CD8467300A9DE3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0AB22C611CD8467300A9DE3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
